 <!-- Footer Section -->
 <footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>
                <p>
                    Prepstudy is an educational platform dedicated to helping students excel through quality resources and support.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <p>
                    Email: info&#64;prepstudy.com
                </p>
            </div>
        </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2023 Prepstudy. All rights reserved.
    </div>
  </footer>