<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://app.prep.study/en/assets/images/Prep-Logo-only.png" alt="Prepstudy Logo" width="150" height="50">
    </a>

    <!-- Navbar toggle button for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-questions">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-quiz">Exam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/leaderboard">Leaderboard</a>
        </li>
      </ul>

      <!-- Profile and Logout -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="username && username !== ''">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ username }} <!-- Display username -->
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout(); $event.preventDefault();">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

 